.chatpage{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #5cbae2;
    
    .chatwindow{
        height: 600px;
        display: flex;
        background-color: #333;
        width: 60%;
        border-radius: 20px;
        overflow: hidden;

        .left{
            background-color: #333;
            width: 35%;
            
            display: flex;
            flex-direction: column;
            color: #fff;

           
            

            hr{
                width: 106%;
            }


        }
        
    }
}